.wrapper {
  --search-border-radius: 92px;
  --search-height: 46px;
  --search-top-spacer: 9px;
  --search-button-width: 52px;

  height: var(--default-layout-header-height, 60px);
  width: 100%;

  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  background-color: var(--white);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  display: flex;
  justify-content: center;
}

.inner {
  height: 100%;
  width: var(--default-layout-width);

  padding-right: var(--default-layout-horizontal-spacer);
  padding-left: calc(var(--default-layout-horizontal-spacer) - 4px);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-link {
  display: flex;

  user-select: none;
}
